.bg-video-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.bg-video {
	background: #000;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.bg-video video {
	position: absolute;
}

.bg-video.touch-poster {
	background-size: cover;
	background-position: 50% 50%;
}