[data-bg-video="true"] {
	background: #000;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

[data-bg-video="true"] video {
	position: absolute;
}

.touch-poster .video{
	display: none;
}
